/* pdfStyles.css */

/* This class ensures that the PDF is rendered correctly within the container */
.pdf-container {
  position: relative;
}

/* This class ensures that the PDF pages are rendered with the correct size */
.pdf-page {
  object-fit: contain;
}

/* Add the styles for the highlight box */
.highlight-box {
  border: 3px solid red;
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
}
.workingbtn {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  width: 90%;
}
button {
  padding: 15px;
  border-radius: 10px;
}
#root
  > div
  > div:nth-child(1)
  > div
  > div
  > div
  > div.react-pdf__Page__textContent.textLayer {
  display: none;
}
#root
  > div
  > div:nth-child(1)
  > div
  > div.react-pdf__Document
  > div
  > div.react-pdf__Page__annotations.annotationLayer {
  display: none;
}
